web/schemas/leaderboard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="leaderboardType">
    <xsd:sequence>
      <xsd:element name="score" type="scoreType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="scoreType">
    <xsd:sequence>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element name="points" type="xsd:int"/>
      <xsd:element name="timestamp" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="leaderboard" type="leaderboardType"/>

</xsd:schema>
